<html><head><title>Examination Instructions</title></head><body>
<center><h1>Exam Instructions</h1></center><br><br><br>
<p style = "font-family:georgia,garamond,serif;font-size:18px;font-style:bold;"">
The duration of this exam is 180 minutes.<br><br>

Its an MCQ based online exam.<br><br>

Adequate time is there to complete exam in time.Late submissions will not be accepted.<br><br> 

This is a closed book exam. So only the following materials and provisions are permitted:<br><br>

1.) Pen and/or Pencil. <br><br> 
2.) Scientific Calculator.<br><br>

Other electronic gadgets like mobile phones/laptops shall be kept away.<br><br>

Each question is worth the same marks.  <br><br>

During this exam you won’t be permitted to review previous questions. <br><br> 

If you have technical difficulties with your exam, STAFF MEMBER NAME will be available  and may also be contacted via Email.<br><br>

Examination Conduct<br><br>
You must only attempt this exam once. Any additional attempts should only be used in the event where a serious technical issue has occurred and supporting evidence supporting this will be required. <br><br>

You are not permitted to obtain assistance by improper means or ask for help from or give help to any other person. <br><br>

You are not permitted to take screenshots, record the screen, copy and paste questions or answers or otherwise attempt to take any of the content of this exam out of the exam for any purpose. <br><br>

You are not permitted to post any requests for clarification of exam content. Answer all questions to the best of your ability and perception of the questions’ intent, make reasonable assumptions if necessary, to answer all questions. <br><br>

Misconduct action will be taken against you if you breach the rules. <br><br>

Student declaration<br><br>
By attempting this exam, I acknowledge that  <br><br>

I agree to be bound by the university’s rules, codes of conduct, and other policies relating to examinations <br>
I have read and understand the examination conduct requirements for this exam <br>
I am aware of the university’s rules regarding misconduct during examinations <br>
I am not in possession of, nor do I have access to, any unauthorised material during this examination<br> 
In attempting this examination and submitting an answer, candidates are undertaking that the work they submit is a result of their own unaided efforts and that they have not discussed the questions or possible answers with other persons during the examination period. <br>Candidates who are found to have participated in any form of cooperation or collusion or any activity which could amount to academic misconduct in the answering of this examination will have their marks withdrawn and disciplinary action will be initiated. <br><br>

You are not permitted to leave your seat during the exam. Please ensure you use the toilet before the exam starts if necessary. 
<br><br>
You will need to be in a quiet space for the duration of your exam with no interruptions. <br><br>

You will need to check all your equipment to ensure that they are set up correctly. <br><br>

You are not permitted to obtain assistance by improper means or ask for help from or give help to any other person. <br><br>

Misconduct action will be taken against you if you breach university rules. 
</p>
<a href="../../resources/view/Examination%20Instructions.pdf">
<img border="0" alt="Download" src="../../img/pdf.png"width="150" height="100"></a>
</body>
</html>
